@use "../vars" as *;

.carousel {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-self: center;
  border: solid black 1px;

  .carousel-button {
    width: max-content;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    .left {
      justify-self: start;
    }
    .right {
      justify-self: end;
    }
  }
}
