@use "../vars" as *;
@use "../breakpoints" as screen;

.nav-wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
}

.mobile-menu {
  .nav-links {
    flex-direction: column;
  }
  li {
    width: 100%;
    margin: 0;
  }
}

.menu-down {
  animation: 0.75s ease-in-out forwards mobile-menu-down;
}

.menu-up {
  animation: 0.75s ease-in forwards mobile-menu-up;
}

@keyframes mobile-menu-down {
  from {
    opacity: 0;
    display: none;
  }
  to {
    display: flex;
    opacity: 1;
  }
}

@keyframes mobile-menu-up {
  from {
    display: flex;
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}

.navbar {
  z-index: 2;
  .nav-links {
    justify-content: start;
    @include screen.xs {
      display: none;
    }
    @include screen.sm {
      display: none;
    }
    @include screen.md {
      display: flex;
    }
  }
  li:last-child {
    margin-right: 0;
  }
  .menu-button {
    @include screen.sm {
      display: initial;
    }
    @include screen.md {
      display: none;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  button {
    font-size: $base-font-size;
  }
  .dropdown-content {
    position: absolute;
    left: 0;
    min-width: 8rem;
    z-index: 1;
    a {
      display: block;
      background-color: $primary;
      padding: $base-padding;
    }
  }
}
