@use "../../styles/vars" as *;

.carousel {
  display: grid;
  grid-template-columns: auto minmax(300px, 1fr) auto;
  grid-template-rows: auto auto;
  justify-self: center;
  border: 3px solid black;
  grid-template-areas:
    "left_button track_container right_button"
    "left_button slide_tracker right_button";

  .carousel-button {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: center;
    &.right {
      grid-area: right_button;
    }
    &.left {
      grid-area: left_button;
    }
  }
  .carousel-slide-tracker {
    grid-area: slide_tracker;
  }
  .carousel-track-container {
    grid-area: track_container;
  }
}
