@use "./vars" as *;

html,
body {
  min-height: 100%;
  position: relative;
}
body {
  font-family: $main-font-stack;
}

#content {
  min-height: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 2px dotted black;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  font-style: inherit;
}
